@using ClassLibrary.Db
@using System.Text.RegularExpressions

@if(profile != null)
{
    <h1><strong>@profile.Name</strong></h1>
    <div class='flex flex-col items-start text-center shadow-lg rounded-lg overflow-hidden'>
        <!-- Placeholder for the gallery of pictures -->

        <div class='w-full h-64 border flex justify-center'>
            @if(profile.User.id == 1 && profile.id==1)  {
                <img src="https://ia601301.us.archive.org/23/items/p2_20240128/1.jpg" class="object-contain h-64" />
            }
            else if (profile.User.id == 2 && profile.id == 1){
                <img src="https://ia601301.us.archive.org/23/items/p2_20240128/p2.png" class="object-contain h-64" />
            }
            <!-- Red square as a placeholder -->
            <!-- Gallery of pictures goes here -->
        </div>

        <!-- Text area below the picture gallery -->
        <div class='p-4'>
            <!-- Name and age -->
            <div class='text-lg font-semibold'>@(profile.User.Name), @(profile.User.GetAge()) (@profile.Pronouns)</div>

            <div> 
<!-- Location -->
                <div class="grid grid-cols-2 text-sm">
                    <div>
                        <h2><em class="font-medium">Location</em></h2>
                        <h2><em class="font-medium">Looking For:</em></h2>
                    </div>
                    <div>
                        <h2>@(profile.User.Location)</h2>
						<h2>@(profile.LookingFor)</h2>
                    </div>
                     
                </div>
                
            </div>
            <br />

            <div class="flex gap-4 place-content-evenly ">
                @foreach (string link in Links) {
					<a href='@link' target='_blank'>
                        @((MarkupString)@DetectSocialMediaPlatform(link))

					</a>
				}
            </div>

            <!-- Description text -->
            <div class='mt-2'>
                @profile.AboutMe
            </div>
        </div>
    </div>
}
else
{
    <div>Loading...</div>
}

@code {

    [Parameter] public Profile profile { get; set; }
    public List<string> Links { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Links = profile.Links.Split(' ').ToList();
    }
    public static string DetectSocialMediaPlatform(string url)
    {
        if (Regex.IsMatch(url, @"facebook\.com", RegexOptions.IgnoreCase))
            return "<svg width=\'48\' height=\'48\' viewBox=\'0 0 48 48\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'> <g clip-path=\'url(#clip0_17_24)\'><path d=\'M48 24C48 10.7453 37.2547 0 24 0C10.7453 0 0 10.7453 0 24C0 35.255 7.74912 44.6995 18.2026 47.2934V31.3344H13.2538V24H18.2026V20.8397C18.2026 12.671 21.8995 8.8848 29.9194 8.8848C31.44 8.8848 34.0637 9.18336 35.137 9.48096V16.129C34.5706 16.0694 33.5866 16.0397 32.3645 16.0397C28.4294 16.0397 26.9088 17.5306 26.9088 21.4061V24H34.7482L33.4013 31.3344H26.9088V47.8243C38.7926 46.3891 48.001 36.2707 48.001 24H48Z\' fill=\'#0866FF\'/> <path d=\'M33.4003 31.3344L34.7472 24H26.9078V21.4061C26.9078 17.5306 28.4285 16.0397 32.3635 16.0397C33.5856 16.0397 34.5696 16.0694 35.136 16.129V9.48096C34.0627 9.1824 31.439 8.8848 29.9184 8.8848C21.8986 8.8848 18.2016 12.671 18.2016 20.8397V24H13.2528V31.3344H18.2016V47.2934C20.0582 47.7542 22.0003 48 23.999 48C24.983 48 25.9536 47.9395 26.9069 47.8243V31.3344H33.3994H33.4003Z\' fill=\'white\'/> </g> <defs><clipPath id=\'clip0_17_24\'> <rect width=\'48\' height=\'48\' fill=\'white\'/></clipPath></defs> </svg>";
        if (Regex.IsMatch(url, @"instagram\.com", RegexOptions.IgnoreCase))
            return "<svg width=\'48\' height=\'48\' viewBox=\'0 0 48 48\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'> <g clip-path=\'url(#clip0_17_27)\'><path d=\'M24 4.32187C30.4125 4.32187 31.1719 4.35 33.6938 4.4625C36.0375 4.56562 37.3031 4.95938 38.1469 5.2875C39.2625 5.71875 40.0688 6.24375 40.9031 7.07812C41.7469 7.92188 42.2625 8.71875 42.6938 9.83438C43.0219 10.6781 43.4156 11.9531 43.5188 14.2875C43.6313 16.8187 43.6594 17.5781 43.6594 23.9813C43.6594 30.3938 43.6313 31.1531 43.5188 33.675C43.4156 36.0188 43.0219 37.2844 42.6938 38.1281C42.2625 39.2438 41.7375 40.05 40.9031 40.8844C40.0594 41.7281 39.2625 42.2438 38.1469 42.675C37.3031 43.0031 36.0281 43.3969 33.6938 43.5C31.1625 43.6125 30.4031 43.6406 24 43.6406C17.5875 43.6406 16.8281 43.6125 14.3063 43.5C11.9625 43.3969 10.6969 43.0031 9.85313 42.675C8.7375 42.2438 7.93125 41.7188 7.09688 40.8844C6.25313 40.0406 5.7375 39.2438 5.30625 38.1281C4.97813 37.2844 4.58438 36.0094 4.48125 33.675C4.36875 31.1438 4.34063 30.3844 4.34063 23.9813C4.34063 17.5688 4.36875 16.8094 4.48125 14.2875C4.58438 11.9437 4.97813 10.6781 5.30625 9.83438C5.7375 8.71875 6.2625 7.9125 7.09688 7.07812C7.94063 6.23438 8.7375 5.71875 9.85313 5.2875C10.6969 4.95938 11.9719 4.56562 14.3063 4.4625C16.8281 4.35 17.5875 4.32187 24 4.32187ZM24 0C17.4844 0 16.6688 0.028125 14.1094 0.140625C11.5594 0.253125 9.80625 0.665625 8.2875 1.25625C6.70312 1.875 5.3625 2.69062 4.03125 4.03125C2.69063 5.3625 1.875 6.70313 1.25625 8.27813C0.665625 9.80625 0.253125 11.55 0.140625 14.1C0.028125 16.6687 0 17.4844 0 24C0 30.5156 0.028125 31.3312 0.140625 33.8906C0.253125 36.4406 0.665625 38.1938 1.25625 39.7125C1.875 41.2969 2.69063 42.6375 4.03125 43.9688C5.3625 45.3 6.70313 46.125 8.27813 46.7344C9.80625 47.325 11.55 47.7375 14.1 47.85C16.6594 47.9625 17.475 47.9906 23.9906 47.9906C30.5063 47.9906 31.3219 47.9625 33.8813 47.85C36.4313 47.7375 38.1844 47.325 39.7031 46.7344C41.2781 46.125 42.6188 45.3 43.95 43.9688C45.2812 42.6375 46.1063 41.2969 46.7156 39.7219C47.3063 38.1938 47.7188 36.45 47.8313 33.9C47.9438 31.3406 47.9719 30.525 47.9719 24.0094C47.9719 17.4938 47.9438 16.6781 47.8313 14.1188C47.7188 11.5688 47.3063 9.81563 46.7156 8.29688C46.125 6.70312 45.3094 5.3625 43.9688 4.03125C42.6375 2.7 41.2969 1.875 39.7219 1.26562C38.1938 0.675 36.45 0.2625 33.9 0.15C31.3313 0.028125 30.5156 0 24 0Z\' fill=\'#000100\'/> <path d=\'M24 11.6719C17.1938 11.6719 11.6719 17.1938 11.6719 24C11.6719 30.8062 17.1938 36.3281 24 36.3281C30.8062 36.3281 36.3281 30.8062 36.3281 24C36.3281 17.1938 30.8062 11.6719 24 11.6719ZM24 31.9969C19.5844 31.9969 16.0031 28.4156 16.0031 24C16.0031 19.5844 19.5844 16.0031 24 16.0031C28.4156 16.0031 31.9969 19.5844 31.9969 24C31.9969 28.4156 28.4156 31.9969 24 31.9969Z\' fill=\'#000100\'/><path d=\'M39.6937 11.1844C39.6937 12.7782 38.4 14.0625 36.8156 14.0625C35.2219 14.0625 33.9375 12.7688 33.9375 11.1844C33.9375 9.59065 35.2313 8.30627 36.8156 8.30627C38.4 8.30627 39.6937 9.60003 39.6937 11.1844Z\' fill=\'#000100\'/> </g> <defs> <clipPath id=\'clip0_17_27\'> <rect width=\'48\' height=\'48\' fill=\'white\'/> </clipPath> </defs> </svg>";
        if (Regex.IsMatch(url, @"github\.com", RegexOptions.IgnoreCase))
            return "<svg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'> <g clip-path='url(#clip0_910_21)'><path fill-rule='evenodd' clip-rule='evenodd' d='M24.0199 0C10.7375 0 0 10.8167 0 24.1983C0 34.895 6.87988 43.9495 16.4241 47.1542C17.6174 47.3951 18.0545 46.6335 18.0545 45.9929C18.0545 45.4319 18.0151 43.509 18.0151 41.5055C11.3334 42.948 9.94198 38.6209 9.94198 38.6209C8.86818 35.8164 7.27715 35.0956 7.27715 35.0956C5.09022 33.6132 7.43645 33.6132 7.43645 33.6132C9.86233 33.7735 11.1353 36.0971 11.1353 36.0971C13.2824 39.7827 16.7422 38.7413 18.1341 38.1002C18.3328 36.5377 18.9695 35.456 19.6455 34.8552C14.3163 34.2942 8.70937 32.211 8.70937 22.9161C8.70937 20.2719 9.66321 18.1086 11.1746 16.4261C10.9361 15.8253 10.1008 13.3409 11.4135 10.0157C11.4135 10.0157 13.4417 9.3746 18.0146 12.4996C19.9725 11.9699 21.9916 11.7005 24.0199 11.6982C26.048 11.6982 28.1154 11.979 30.0246 12.4996C34.5981 9.3746 36.6262 10.0157 36.6262 10.0157C37.9389 13.3409 37.1031 15.8253 36.8646 16.4261C38.4158 18.1086 39.3303 20.2719 39.3303 22.9161C39.3303 32.211 33.7234 34.2539 28.3544 34.8552C29.2296 35.6163 29.9848 37.0583 29.9848 39.3421C29.9848 42.5871 29.9454 45.1915 29.9454 45.9924C29.9454 46.6335 30.383 47.3951 31.5758 47.1547C41.12 43.9491 47.9999 34.895 47.9999 24.1983C48.0392 10.8167 37.2624 0 24.0199 0Z' fill='#24292F'/></g><defs><clipPath id='clip0_910_21'><rect width='48' height='48' fill='white'/></clipPath></defs></svg>";
        if (Regex.IsMatch(url, @"discord\.gg", RegexOptions.IgnoreCase))

            return "<svg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'> <g clip-path='url(#clip0_1008_2)'> <path d='M40.634 8.31118C37.5747 6.90741 34.294 5.87318 30.8638 5.28084C30.8013 5.2694 30.7389 5.29797 30.7067 5.35511C30.2848 6.10554 29.8175 7.08454 29.4902 7.85403C25.8008 7.30169 22.1304 7.30169 18.5166 7.85403C18.1893 7.06744 17.705 6.10554 17.2811 5.35511C17.249 5.29988 17.1866 5.27131 17.1241 5.28084C13.6958 5.87129 10.4151 6.90552 7.35387 8.31118C7.32737 8.3226 7.30465 8.34167 7.28958 8.36641C1.06678 17.6631 -0.6379 26.7313 0.19836 35.6871C0.202144 35.7309 0.22674 35.7729 0.260796 35.7995C4.36642 38.8146 8.34341 40.645 12.2466 41.8582C12.309 41.8773 12.3752 41.8545 12.415 41.803C13.3383 40.5422 14.1613 39.2127 14.867 37.8146C14.9086 37.7327 14.8688 37.6356 14.7837 37.6032C13.4783 37.108 12.2352 36.5042 11.0395 35.8186C10.9449 35.7633 10.9373 35.628 11.0243 35.5633C11.2759 35.3747 11.5276 35.1785 11.7679 34.9805C11.8114 34.9443 11.872 34.9366 11.9231 34.9595C19.7786 38.546 28.2831 38.546 36.0459 34.9595C36.097 34.9348 36.1576 34.9424 36.203 34.9786C36.4433 35.1766 36.6949 35.3747 36.9484 35.5633C37.0354 35.628 37.0298 35.7633 36.9352 35.8186C35.7394 36.5175 34.4964 37.108 33.189 37.6013C33.1039 37.6337 33.0661 37.7327 33.1077 37.8146C33.8285 39.2107 34.6515 40.5402 35.5578 41.8011C35.5957 41.8545 35.6637 41.8773 35.7262 41.8582C39.6483 40.645 43.6252 38.8146 47.7309 35.7995C47.7668 35.7729 47.7895 35.7328 47.7933 35.689C48.7942 25.3352 46.117 16.3413 40.6964 8.3683C40.6832 8.34167 40.6605 8.3226 40.634 8.31118ZM16.04 30.234C13.675 30.234 11.7263 28.0627 11.7263 25.3961C11.7263 22.7296 13.6372 20.5583 16.04 20.5583C18.4617 20.5583 20.3916 22.7486 20.3538 25.3961C20.3538 28.0627 18.4428 30.234 16.04 30.234ZM31.9895 30.234C29.6245 30.234 27.6758 28.0627 27.6758 25.3961C27.6758 22.7296 29.5867 20.5583 31.9895 20.5583C34.4113 20.5583 36.3411 22.7486 36.3033 25.3961C36.3033 28.0627 34.4113 30.234 31.9895 30.234Z' fill='#5865F2'/> </g> <defs> <clipPath id='clip0_1008_2'> <rect width='48' height='48' fill='white'/> </clipPath> </defs> </svg";
        if (Regex.IsMatch(url, @"pinterest\.com", RegexOptions.IgnoreCase))

            return "<svg width=\'48\' height=\'48\' viewBox=\'0 0 48 48\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'> <g clip-path=\'url(#clip0_17_34)\'><path d=\'M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48Z\' fill=\'white\'/><path d=\'M24 0C10.7457 0 0 10.7457 0 24C0 34.1728 6.32099 42.8642 15.2494 46.3605C15.0321 44.4642 14.8543 41.5407 15.3284 39.4667C15.763 37.5901 18.1333 27.5358 18.1333 27.5358C18.1333 27.5358 17.4222 26.0938 17.4222 23.9802C17.4222 20.642 19.358 18.1531 21.7679 18.1531C23.8222 18.1531 24.8099 19.6938 24.8099 21.5309C24.8099 23.5852 23.5062 26.6667 22.8148 29.5309C22.242 31.921 24.0198 33.8765 26.3704 33.8765C30.637 33.8765 33.916 29.3728 33.916 22.8938C33.916 17.1457 29.7877 13.1358 23.8815 13.1358C17.0469 13.1358 13.037 18.2519 13.037 23.5457C13.037 25.6 13.8272 27.8123 14.8148 29.0173C15.0123 29.2543 15.0321 29.4716 14.9728 29.7086C14.7951 30.4593 14.3802 32.0988 14.3012 32.4346C14.2025 32.8691 13.9457 32.9679 13.4914 32.7506C10.4889 31.3481 8.61235 26.9827 8.61235 23.4469C8.61235 15.8815 14.1037 8.9284 24.4741 8.9284C32.7901 8.9284 39.2691 14.8543 39.2691 22.7951C39.2691 31.0716 34.0543 37.7284 26.8247 37.7284C24.3951 37.7284 22.1037 36.4642 21.3333 34.963C21.3333 34.963 20.1284 39.5457 19.8321 40.6716C19.2988 42.7654 17.837 45.3728 16.8494 46.9728C19.1012 47.6642 21.4716 48.0395 23.9605 48.0395C37.2148 48.0395 47.9605 37.2938 47.9605 24.0395C48 10.7457 37.2543 0 24 0Z\' fill=\'#E60019\'/></g><defs><clipPath id=\'clip0_17_34\'><rect width=\'48\' height=\'48\' fill=\'white\'/></clipPath></defs></svg>";
        if (Regex.IsMatch(url, @"twitter\.com", RegexOptions.IgnoreCase))
            return "<svg width=\'48\' height=\'48\' viewBox=\'0 0 48 48\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'> <path d=\'M36.6526 3.80782H43.3995L28.6594 20.6548L46 43.5798H32.4225L21.7881 29.6759L9.61989 43.5798H2.86886L18.6349 25.56L2 3.80782H15.9222L25.5348 16.5165L36.6526 3.80782ZM34.2846 39.5414H38.0232L13.8908 7.63408H9.87892L34.2846 39.5414Z\' fill=\'black\'/> </svg>";
        if (Regex.IsMatch(url, @"x\.com", RegexOptions.IgnoreCase))
            return "<svg width=\'48\' height=\'48\' viewBox=\'0 0 48 48\' fill=\'none\' xmlns=\'http://www.w3.org/2000/svg\'> <path d=\'M36.6526 3.80782H43.3995L28.6594 20.6548L46 43.5798H32.4225L21.7881 29.6759L9.61989 43.5798H2.86886L18.6349 25.56L2 3.80782H15.9222L25.5348 16.5165L36.6526 3.80782ZM34.2846 39.5414H38.0232L13.8908 7.63408H9.87892L34.2846 39.5414Z\' fill=\'black\'/> </svg>";

        return null;
    }




}
