@using ClassLibrary.Db

<NavLink class="nav-link" href="@($"/ActLandPage/{activity.id}")" Match="NavLinkMatch.All">
	<div class="grid grid-cols-4 px-5 py-5 rounded-[15px] justify-start items-start text-xs bg-neutral-700 mx-2 bg-gradient-to-l from-purple-950 to-violet-950 rounded-lg shadow-inner">

		<div class="grid grid-rows-3 col-span-3">
			<div>
				<h1 class="font-extrabold">
					<strong>
						@(activity.Name)
					</strong>
					
				</h1>


				@(activity.Time_start.Day), @(activity.Time_start.Month) - @(activity.Time_end.Day), @(activity.Time_end.Month)
			</div>

			<div>
				@(activity.Location)
			</div>

			<div class="break-words">
				@(activity.Profiles.Count) Participants,
				@(activity.Groups.Count) Groups.
			</div>
			<div class="text-wrap">
				@(activity.Description)
			</div>
		</div>
		<div class="grid col-span-1">
			<h1><strong>@(activity.Age_rating)</strong></h1>
		</div>
	</div>

</NavLink>
<br />

@code {
	[Parameter] public Activity activity { get; set; }
	protected override async Task OnInitializedAsync()
	{
		
	}
}
